@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
/* bootstrap */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');


  .img-account-profile {
      height: 10rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgba(61, 101, 156, 0.15);
      border-radius: 10px;
      padding: 20px;



  }


  .card-header {
      /* padding: 1rem 1.35rem; */
      margin-bottom: 0;
      padding-bottom: 10px;
      color: #8f80df;
    
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-weight: 400;
      color: #69707a;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c5ccd6;
      /* -webkit-appearance: none;
      -moz-appearance: none; */
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .nav-borders .nav-link.active {
      color: #0061f2;
      border-bottom-color: #0061f2;
  }
 
button{
    margin-top: 2%;

}
form{
    justify-content: center;
}