.container
{
  justify-content: center;
  align-items: center;
  display: flex;
}
mat-form-field {
  display: block;
}

.card
{
  margin-top: 200px;
  width: 300px;
  height: 300px;
  border-radius: 10px;

  display: block;
}
