
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Laaka</h1>
        <span class="menu-spacer"></span>

    </mat-toolbar-row>
</mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav >
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

            <h4 class="name">John Smith</h4>
            <p class="designation">Software Engineer</p>
            
            <mat-divider></mat-divider>

            <button mat-button  [routerLink]="['addClient']"  class="menu-button">
                <mat-icon>plus</mat-icon>
                <span>add Client</span>
            </button>
            <button mat-button  [routerLink]="['addClient']" class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Client List</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button">
                <mat-icon>Quit</mat-icon>
                <span>uit</span>
            </button>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
               <p>thi is </p>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container> 

    <!-- angular material toolbar with sidenav -->



