
mat-form-field {
    display: block;
    align-items: center;
    border: none;
    /* width: 80rem; */

}
.cardForm
{
    justify-content: center;
    width: max-content;

    display: grid;
}
/* .btn{
    background-color: black;
} */

